<h4> 1st </h4>
let: Scope of these variable are within the declared block/function. <br>
this: Globally accessible outside the function also. <br>
Eg:  line 11 --> public result3 = []; //result3 can be accessed globally by "this.result3" in line 41 <br>
     line 33 --> let result = []; //result can be accessed only within function reverse()

<h4> 2nd </h4>
Displayed in console

<h4> 3rd </h4>
 [{{result3}}] 

<h4> 4th </h4>
<ol>
  <li> Using split,reverse
    <p> Input: "Hello!  how  are  you" </p>
    <p> Output: {{result4a}} </p>
  </li>
  <li> Without using split and reverse in O(1) space
    <p> Input: ["To"," ","people here","@"] </p>
    <p> Output: {{result4b}} </p>
  </li>
</ol>

<h4> 5th </h4>
      Input: ['one','two',2,'one',11,'two',11,2];
<div> Output: {{result5}} </div>


